.container {
  background-color: #fff;
  width: 100%;
  max-width: 550px;
  // margin: 20px auto;
  min-height: 750px;
  padding: 20px 0px;
  border-radius: 4px;
  // max-width: 500px;
  margin: 0px auto;
  display: inline-block;
  margin-left: 10px;

  @media screen and (max-width: 600px) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    min-height: 350px;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.startScreen {
  text-align: center;
  color: #CACACA;
  font-size: 22px;
  font-weight: 300;
  padding: 200px 30px 30px 30px;
  @media screen and (max-width: 600px) {
    padding-top: 100px;
  }

  .startScreenTitle {
    padding-bottom: 40px;
  }
}

.noTV {
  color: #ABABAB;
  text-align: center;
  padding-top: 300px;
  @media screen and (max-width: 600px) {
    padding-top: 100px;
  }
}

.sad {
  padding: 25px;
  opacity: .8;
  img {
    background-position: center;
    background-size: 100px;
    width: 100px;
    height: 100px;
  }
}
