.item {
  padding: 10px;
  display: flex;

  &:hover .tooltiptext {
    // visibility: visible;
    // opacity: 1;
  }
}

.time {
  // display: f;
  padding-left: 10px;
  padding-right: 15px;
  font-size: 24px;
  font-weight: 100;
  color: #cacaca;
  align-self: flex-end;
}

.title {
  display: inline-block;
  font-size: 18px;
  color: #404040;
  max-width: 700px;
}

.alreadyOver {
  opacity: .6;
}

.hot {
  background-color: #FFF9C4;
  font-weight: bold;
}

.hotMessage {
  float: right;
  font-weight: 300;
  margin-top: 6px;
  color: #F9A825;
  cursor: pointer;
  padding: 0px 5px;
}


.tooltip {
    position: absolute;
    border-bottom: 1px dotted black;
    margin-top: -30px;
    opacity: 1 !important;
    display: block;
    left: 50%;
    margin-left: -420px;
    margin-top: -40px;

    @media screen and (max-width: 600px) {
      margin-left: -200px;
    }
}

.tooltip .tooltiptext {
  display: block;
  visibility: hidden;
  width: 220px;
  // margin-left: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  transition: all .2s;
  opacity: 0;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
