.item {
  padding: 10px;
}

.time {
  display: inline-block;
  padding-left: 10px;
  padding-right: 15px;
  font-size: 24px;
  font-weight: 600;
  color: #cacaca;
}

.title {
  display: inline-block;
}
