.navBar {
  background-color: #2A2F3A;
  width: 400px;
  height: 920px;
  border-left: 0px solid #4F5A65;
  display: inline-block;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;

  @media screen and (max-width: 600px) {
    position: relative;
    display: block;
    float: none;
    width: 100%;
    height: 400px;
    overflow-y: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: #2A2F3A;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.program {
  cursor: pointer;
  &:hover .info {
    opacity: 1;
  }
}

.selected {
  background-color: #4F5A65;
}

.picture {
  height: 80px;
  width: 80px;
  display: inline-block;
}

.info {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  opacity: .8;
  font-size: 15px;
}

.title {
    text-align: left;
    color: #6FB3D2;
    z-index: 9999;
    font-size: 25px;
}

.description {
  color: white;
  font-weight: 300;
  font-size: 13px;
}
