.navBar {
  background-color: #2A2F3A;
  height: 100%;
  width: 400px;
  float: right;
  top: 0px;
  right: 0px;
  border-left: 0px solid #4F5A65;
  position: fixed;
  display: inline-block;
}

.program {
  cursor: pointer;
  &:hover .info {
    opacity: 1;
  }
}

.selected {
  background-color: #4F5A65;
}

.picture {
  height: 80px;
  width: 80px;
  display: inline-block;
}

.info {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  opacity: .8;
  font-size: 15px;
}

.title {
    text-align: left;
    color: #6FB3D2;
    z-index: 9999;
    font-size: 25px;
}

.description {
  color: white;
  font-weight: 300;
}
