@import 'variables';


body {
  background-color: #F1F1F1;
}

.layout {
  max-width: 60%;
  float: left;
  // margin: 10px auto;
  margin-left: 200px;
  // background-color: black;
}

.title {
  font-size: 36px;
  text-align: center;
  color: #54849A;
}
