@import 'variables';


body {
  background-color: #F1F1F1;
}

.layout {
  // max-width: 860px;
  width: 100%;
  margin: 0px auto;
  display: inline-block;
}

.title {
  font-size: 36px;
  text-align: center;
  color: #54849A;
}
